.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.header {
  margin-top: 15px;
  margin-bottom: 50px;
  height: 100px;
  width: 100%;
  display: flex;

  h2 {
    width: 95%;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    button {
      background-color: #ffffff;
      border: none;
      width: 50px;
      height: 30px;
      font-size: 3rem;
      color: #1b1b1b9c;
    }
  }
}

.context {
  width: 100%;
  min-height: 1000px;
  select {
    width: 30%;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }
  div {
    width: 99%;
    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
  }
  h3 {
    width: 75%;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  ul {
    width: 96%;
    height: 95%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      height: 100%;
      border-radius: 15px;

      h2 {
        margin-bottom: 15px;
      }
      table {
        border-radius: 15px;
        background-color: #ffffff;
        width: 96%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      th {
        height: 100px;
        border-bottom: 1px solid #efefefef;
        border-left: 1px solid #efefefef;
        text-align: center;
        font-size: 1.4rem;
      }

      td {
        height: 80px;
        font-size: 1.2rem;
        text-align: center;
        button {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
#stt {
  width: 5%;
  border-left: none;
}

#name {
  width: 25%;
}

#date,
#progress,
#status,
#member {
  width: 15%;
}
.context-work {
  width: 74%;
}

.context-member {
  width: 25%;
}

#userName {
  text-align: left;
  padding-left: 8px;
}

#test {
  padding: auto;
  padding-left: 10px;
}

#test-date {
  padding: 30px;
}
