.wrapper {
  height: 950px;
  width: 700px;
  //margin-top: 50px;
  //display: flex;
  //justify-content: space-between;
  //flex-direction: row;
  //background-color: aqua;
  border-radius: 25px;
  border: 3px solid #e6ede6;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 50px;
  form {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 35px;
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
    input {
      height: 40px;
      border-radius: 25px;
      border: 1px solid #a5a8a5;
    }
    select {
      height: 40px;
      border-radius: 25px;
      border: 1px solid #a5a8a5;
      option {
        height: 40px;
        border-radius: 25px;
        border: 1px solid #a5a8a5;
      }
    }
    button {
      height: 40px;
      width: 150px;
      padding: 10px;
      border-radius: 25px;
      border: none;
      margin-right: 20px;
      font-size: 1.6rem;
      font-weight: 700;
    }
    .cancel {
      border: 2px solid #108a00;
      color: #108a00;
      background-color: #ffffff;
    }

    .confirm {
      background-color: #108a00;
      color: #ffffff;
    }
    p {
      //margin-left: 15px;
      //margin-right: 15px;
      display: flex;
      height: 40px;
      width: 100%;
      justify-content: space-between;
      color: #a0abac;
      hr {
        margin-top: 9px;
        width: 190px;
      }
    }
  }
}
