.wrapper {
  min-height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
}

.inner {
  min-height: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  height: 300px;
  width: 100%;
  border-bottom: black dotted 1px;
}

.header-cointainer {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header-item {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #4164e3;
}

#i1 {
  background-image: url('/assets/images/create.jpg');
}

#i2 {
  background-image: url('/assets/images/find.jpg');
}

.body {
  margin-top: 20px;
  height: 58%;
  width: 100%;
}

.nav {
  margin-top: 20px;
  overflow: hidden;
}
.active {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1.8rem;
  border-bottom: #4164e3 solid 2px;
}

.nav-btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 1.8rem;
}

.project {
  margin-top: 25px;
  width: 100%;
  height: 90%;
}

.project-cointainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
}

.project-item {
  width: 100%;
  background-color: #ffffff;
  height: 20%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page {
  text-align: right;
}
