.wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  input {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid #e6ede6;
    border-right: none;
  }
  button {
    margin: auto;
    width: 10%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    border: 2px solid #108a00;
    border-left: none;
    background-color: #108a00;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
