.wrapper {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-style: outset #111827 solid 1px;
}

.inner {
  height: 100%;
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  width: 30%;
  align-items: center;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15px;
  color: #fff3df;
}

.logo-tittle {
  width: 80%;
  margin-left: 15px;
  text-decoration: none;
  color: #fff3df;
}

.search {
  background-color: #111827;
  height: 50px;
  align-items: center;
  width: 40%;
}

.search-btn {
  width: 8%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #111827;
  color: white;
  border: none;
}

.search-input {
  width: 70%;
  background-color: #111827;
  font-size: 1.6rem;
  height: 50%;
  border: none;
  color: white;
}

.search-select {
  width: 22%;
  height: 100%;
  background-color: #111827;
  border: none;
  color: white;
  font-size: 1.6rem;
}

.icon-cointainer {
  width: 40%;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.icon-btn {
  width: 10%;
  height: 90%;
  font-size: 2rem;
  background-color: #1f2937;
  color: white;
  border: none;
  margin: 5px;
  align-items: center;
}

.user-cointainer {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.user-img {
  object-fit: cover;
  width: 25%;
  height: 100%;
  border-radius: 50%;
}

.user-name-cointainer {
  width: 75%;
  height: 100%;
  color: #fff3df;
  align-items: center;
  position: relative;
  display: inline-block;
}

.user-name {
  color: #fff3df;
  text-align: center;
}

.sort-btn {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #1f2937;
  color: white;
  border: none;
  margin: 5px;
  align-items: center;
}

.user-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-content a:hover {
  background-color: #f1f1f1;
}

.user-name-cointainer:hover .user-content {
  display: block;
}
