.wrapper {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
}

.inner {
  height: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  margin-top: 50px;
  height: 30%;
  width: 100%;
  border: 1px solid black;
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
}

.header-tittle {
  padding: 0;
  margin-top: -15px;
  margin-left: 10px;
  width: 10%;
  background-color: #f2f3f5;
}

.header-input {
  margin: auto;
  margin-top: 30px;
  height: 90%;
  width: 70%;
  display: flex;
  flex-direction: column;
  button {
    width: 20%;
    margin-bottom: 15px;
    margin-left: 80%;
    height: 20%;
    background-color: #4164e3;
    font-size: 1.6rem;
    font-weight: 600;
    align-items: center;
    border-radius: 15px;
    color: #ffffff;
  }
}

.header-input-name {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  input {
    width: 80%;
    font-size: 1.6rem;
  }
}

.header-input-detail {
  display: flex;
  justify-content: space-between;
  height: 80%;
  textarea {
    width: 80%;
    height: 80%;
    font-size: 1.6rem;
  }
}

.cointainer {
  margin-top: 20px;
  height: 60%;
  width: 100%;
  h2 {
    margin-bottom: 15px;
  }
  table {
    border: 2px solid forestgreen;
    width: 100%;
    min-height: 80%;
  }

  th {
    height: 10%;
    border-bottom: 1px solid black;
    font-size: 2rem;
  }

  td {
    height: 10%;
    font-size: 1.6rem;
    text-align: center;
    button {
      height: 50px;
      width: 50px;
    }
  }
}
